@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cardColor {
  background-color: #004D61;
  color: white;
}

.max-w-lg {
  max-width: 75rem !important;
}

.max-w-md {
  max-width: 50rem !important;
}

.max-h-card {
  max-height: 75rem;
}