.custom-scroll {
  height: 600px;
  scrollbar-width: thin;
  scrollbar-color: #DEE9EA #f0f0f0;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #DEE9EA;
    border-radius: 8px;
    border: 2px solid #f0f0f0;

    &:hover {
      background-color: darken(#DEE9EA, 10%);
    }
  }
}

